button {
  padding: 12px 70px;
  background-color: var(--Secondary05);
  border: 1px solid var(--Secondary03);
  border-radius: 8px;
  color: var(--White);
  font-family: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--Secondary03);
  }
}
