@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
  //Fonts
  --Roboto: 'Roboto', sans-serif;

  // Colors
  --Secondary01: #BC93FF,
  --Secondary02: #9F64FF,
  --Secondary03: #672ACA,
  --Secondary04: #6024C2,
  --Secondary05: #390096,

  --LigthGray: #E5E5E5,
  --Gray: #C4C4C4,
  --White: #FFFFFF,
  --Black: #000000,
  --Green: #039D00,
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: var(--Roboto);
    font-weight: 400;
    color: var(--Black);
    position: relative;

    #root {
      width: 100%;
      height: 100%;
    }

    h1 {
      font-size: 24;
      font-weight: 700;
    }

    h3 {
      font-size: 14;
      font-weight: 700;
    }

    p {
      font-size: 12;
    }

    a {
      text-decoration: none;
    }
  }
}