@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  //Fonts
  --Roboto: "Roboto", sans-serif;

  // Colors
  --Secondary01: #bc93ff;
  --Secondary02: #9f64ff;
  --Secondary03: #672aca;
  --Secondary04: #6024c2;
  --Secondary05: #390096;
  --LigthGray: #e5e5e5;
  --Gray: #c4c4c4;
  --White: #ffffff;
  --Black: #000000;
  --Green: #039d00;
  --Gradient: linear-gradient(180deg, #390096 0%, #9f64ff 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  body {
    height: 100vh;
    font-size: 16px;
    font-family: var(--Roboto);
    font-weight: 400;
    background-color: var(--LigthGray);
    color: var(--Black);
    position: relative;

    #root {
      width: 100%;
      height: 100%;
    }

    h1 {
      font-size: 24;
      font-weight: 700;
    }

    h3 {
      font-size: 14;
      font-weight: 700;
    }

    p {
      font-size: 12;
    }

    a {
      text-decoration: none;
    }
  }
}
